* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf");
}

:root {
  --about-text-color: #3f4e4f;
  --base-text-color: #2c3639;
  --btn-bg-color: #f0e9e3;
  --btn-border-color: rgba(162, 123, 92, 0.5);
  --coded-by-color: #5f1f1a;
  --fill-color: #dcd7c9;
  --font-family: "Playfair Display", serif;
  --gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --highlight-color: #5a7797;
  --line-color: #a27b5c;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --text-font-family: "Roboto", sans-serif;
}

body {
  align-items: center;
  background: var(--gradient);
  color: var(--base-text-color);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

img {
  max-width: 100%;
}

.hero {
  align-items: center;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/194/original/bg-img.png?1666099347");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 811px;
}

.hero-title {
  color: var(--fill-color);
  font-family: var(--font-family);
  font-size: 150px;
  font-weight: 400;
  margin: 0;
  text-shadow: 0px 4px 4px var(--shadow-color);
}

.line {
  background-color: var(--line-color);
  border: 1px solid var(--line-color);
  border-radius: 5px;
  height: 3px;
  margin: 0px;
  margin-top: -0.5em;
  padding: 0px;
  width: 525px;
}

.about {
  margin: 228px 200px;
}

.learn-more-link {
  color: var(--line-color);
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

.learn-more-link:hover {
  color: var(--highlight-color);
}

.learn-more-link:visited {
  color: var(--highlight-color);
}

.about-title {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 23px;
  margin-top: 23px;
}

.about-text {
  font-family: var(--text-font-family);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 23px;
  margin-top: 0;
}

#about-btn {
  background-color: var(--btn-bg-color);
  border: 2px solid var(--btn-border-color);
  border-radius: 30px;
  box-shadow: 0px 4px 4px var(--shadow-color);
  color: var(--line-color);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  line-height: 25px;
  transition: 0.3s;
  width: 258px;
}

#about-btn:hover {
  background-color: var(--line-color);
  color: var(--btn-bg-color);
}

.footer {
  align-items: center;
  background-color: var(--btn-bg-color);
  background-position: center;
  justify-content: center;
  padding-top: 129px;
}

.images-footer {
  display: flex;
}

.yarn-img {
  box-shadow: 10px 10px 50px var(--shadow-color);
  height: 768px;
  width: 768px;
}

.coded-by {
  color: var(--coded-by-color);
  font-family: var(--text-font-family);
  line-height: 23px;
  margin-bottom: 0;
  margin-top: 20px;
  padding-bottom: 50px;
}

.name {
  color: var(--highlight-color);
}
